/* Global */
body {
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; /* Prevents horizontal scrolling if width > vw */
}

/* Colors */
/* color: #C2B19C; Brown */

/* Utilities */
/* Utilities: ErrorPage */
.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#error-text {
    text-align: center;
    font-size: 2.5vh;
}

#error-image {
    max-width: 50vw;
}

/* Utilities: Footer */
.footer {
    color: white; 
    background-color: black; 
    font: 'Roboto Serif', serif;
}

.footer-section1 {
    display: flex;
    justify-content: space-between;
    padding: 1vh 4vw;
    font: 'Roboto Serif', serif;
}

.column {
    width: 20%;
}

.column a {
    display: block;
    opacity: 70%;
    line-height: 2.4vh;
    text-decoration: none; 
    color: inherit; /* Inherits the color from the parent element */
    transition: color 0.5s;
}

.column a:hover {
    color: #C2B19C; /* Color change on hover */
}

.column a:active {
    opacity: 50%; /* Opacity drop when clicked */
}

.separator {
    border-top: 0.001px solid white;
    opacity: 15%;
    width: 100vw;
    margin: 2vh 0;
}

.footer-section2 {
    text-align: center;
    padding: 1vh 0;
    font-size: 2.5vh;
    font: 'Roboto Serif', serif;
}

/* iPhone Mini or other*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {

    .column h3 {
        font-size: 1.5vh; 
    }

    .footer-section1 a {
        font-size: 1.2vh; 
    }

    .footer-section2 {
        font-size: 2.4vh; 
    }
}

/* iPhone 15, 15 Pro, 15 Pro Max */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 896px) 
  and (-webkit-min-device-pixel-ratio: 3) {

    .column h3 {
        font-size: 1.5vh; 
    }

    .footer-section1 a {
        font-size: 1.2vh; 
    }

    .footer-section2 {
        font-size: 2.4vh; 
    }
}

/* Utilities: HomePage */
#homepage {
    padding: 5vh;
}

/* Utilities: Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 8vh;
    padding: 0 4vw; 
}

.left-group {
    display: flex;
    font: 'Roboto Serif', serif;
    justify-content: flex-start; 
    width: 30vw; 
}

.right-group {
    display: flex;
    font: 'Roboto Serif', serif;
    justify-content: flex-end; 
    width: 30vw;
}

.navbar-text {
    color: white;
    text-decoration: none;
    font-size: 1.3vh;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.05vh;
    margin: 0 1vw;
}
.navbar-text:visited {
    color: white;
}

.navbar-text:hover {
    color: #C2B19C;
}

.navbar-text:active {
    opacity: 0.7;
}

#navbar-text {
    font-size: 3vh;
    font: 'Roboto Serif', serif;
    text-decoration: none;
    letter-spacing: 0.3vh;
}

#navbar-text:visited {
    color: white;
}

#navbar-text:active {
    opacity: 0.7;
}

.search-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.3vh;
    font: 'Roboto Serif', serif;
    cursor: pointer;
    text-align: left;
}

.search-text {
    font-size: 1.2vh;
    font: 'Roboto Serif', serif;
    letter-spacing: 0.05vh;
    position: relative;
    bottom: 0.35vh;
    padding-left: 0.8vh;
    /* text-transform: uppercase; */
}

/* Pages */
/* Pages: Location */